################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/.zip
/Brainstorm-Rerolled-1.0.2-alpha.zip
