build
build_linux
.vscode
.direnv
.cache
/.vs/Immolate-Brainstorm/copilot-chat/b12aad01/sessions
/.vs/Immolate-Brainstorm/CopilotIndices/17.14.734.62261
/.vs/Immolate-Brainstorm/FileContentIndex
/.vs/Immolate-Brainstorm/v17/ipch/AutoPCH
/.vs/Immolate-Brainstorm/v17/.wsuo
/.vs/Immolate-Brainstorm/v17/Browse.VC.db
/.vs/Immolate-Brainstorm/v17/Browse.VC.db-shm
/.vs/Immolate-Brainstorm/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CppProperties.json
/.vs
